
<header>
    <div class="container bg-ligth">
        <nav class="navbar navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand text-white">
                    <img style="border-radius: 50%;" src="/img/logo.png" alt="" width="30" height="30" 
                        class="d-inline-block align-text-top">
                    Key Ring's Shop
                </a>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-info me-md-2 text-white" type="button">Ingresar</button>
                    <button class="btn btn-info text-white" type="button">Registrarse</button>
                </div>
            </div>
        </nav>
        <br> <br>
        <div class="row justify-content-center">
            <h1 class="text-white text-center">¡Tu llavero necesita estilo!</h1>
            <h5 class="text-white text-center">Econtralo acá</h5>
            <br>
            <br>
            <div class="col text-center">
                <a href="/views/products">
                <button class="btn btn-info btn-lg text-white cardShadow" type="button">TIENDA</button>
                </a>
            </div>
        </div>
    </div>
</header>
<div class="container-xxl" >
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row d-flex justify-content-center">
                    <div class="col-4 cardsPromo">
                        <div class="card cardShadow">
                            <img src="/img/products/Llavero_IronMan.png" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title text-center">Iron Man</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 cardsPromo">
                        <div class="card cardShadow">
                            <img src="/img/products/groot.jpg" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title text-center">Groot</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 cardsPromo">
                        <div class="card cardShadow">
                            <img src="/img/products/guantelete.jpg" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title text-center">Guantelete</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row d-flex justify-content-center">
                    <div class="col-4 cardsPromo">
                        <div class="card cardShadow">
                            <img src="/img/products/ford.png" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title text-center">Ford</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 cardsPromo">
                        <div class="card cardShadow">
                            <img src="/img/products/volkswagen.jpg" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title text-center">VolksWagen</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 cardsPromo">
                        <div class="card cardShadow">
                            <img src="/img/products/renault.jpg" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title text-center">Renault</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row d-flex justify-content-center">
                    <div class="col-4 cardsPromo">
                        <div class="card cardShadow">
                            <img src="/img/products/river.jpeg" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title text-center">River</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 cardsPromo">
                        <div class="card cardShadow">
                            <img src="/img/products/boca.jpg" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title text-center">Boca</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 cardsPromo">
                        <div class="card cardShadow">
                            <img src="/img/products/independiente.png" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title text-center">Independiente</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>
</div>