<div class="container" style="height: 100vh;">
    <div class="row align-items-center text-center">
        <h1>¡Gracias por tu compra!</h1>
        <br>
        <h4>Recibiras un email con la informacion de tu compra</h4>
    </div>
</div>